<div class="d-flex flex-column flex-justify-start height-100 gap-medium">
    <div class="d-flex flex-justify-center content-divider-small"></div>
    <div class="d-flex flex-justify-center page-title">Choose a mode!</div>

    <div class="d-flex flex-justify-center"> 
            <button value="game-loading-screen" onClick="navigate(this);" class="pane">
                Practice mode
            </button>
    </div>
        <div class="d-flex flex-justify-center flex-push-to-column-bottom"> 
          <button class="button primary large" value="splash" onClick="navigate(this);">Return to splash</button>
        </div>
  </div>