<div class="d-flex flex-column flex-justify-center height-100 gap-large">
    <div class="d-flex flex-justify-center game-title">DUMBCARDS</div>
    <div class="d-flex flex-justify-center"> 
      <button class="button primary large" data-action-id="navigate_to_section" data-action-target="home">Go to home</button>
    </div>
  </div>