<div class="d-flex flex-column flex-justify-center height-100 gap-large">
    <div class="d-flex flex-justify-center game-title">DUMBCARDS</div>
    <div class="d-flex flex-justify-center"> 
      <button class="button primary large" value="home" onClick="navigate(this);">Go to home</button>
    </div>
  </div>