html{
  height:100%;
  overflow: hidden;
}
body{
  background-color: darkgray;
  height: 100%;
}


section{
  border:1px solid white;
  display:block;
  min-height: 100%;
  width:100%;
}

.section-center-content{

}