.shout{

    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
   background: radial-gradient(black, transparent);
  background: none;
}
.shout-backgrounds{
position: absolute;
top:0px;
left: 0px;
right: 0px;
height: 100%;
width: 100%;
}
.shout-backgrounds-inner{
    position: relative;
    top:0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    }
.shout-background-matches{
    position: absolute;
    top:0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    background: radial-gradient(#64b5f6, transparent);
    background: #00ffa4;
    height: 320px;
    top: calc(50% - 160px);
    background: #1f1f1f5c;
    top: 0px;
    height: 100%;
}

.beams{
    position: absolute;
    left: -10%;
    right: 0px;
    max-width: 120%;
    top: 10%;
    transform: scale(1.5);
}
.shout-inner{
    position: relative;
    top:0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-around;
}

.shout-text{
    font-size: 4rem;
    text-align: center;
    position: absolute;
    top: 35%;
    margin: auto;
    left: 0px;
    right: 0px;
    font-family: 'Bangers', cursive;
    text-shadow: -1px 2px black;
    text-shadow: -1px 9px black;
    color: #fff;
}


.matches-container{
    position:relative;
}

.matches{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    margin: auto;
    max-width: 95%;
    text-align: center;
    width: 330px;
}

.matches-box[data-index="0"]{
    z-index: 2;
}

.matches-box[data-index="1"]{
    z-index: 1;
    position: relative;
    top: -20px;
}

.matches-box[data-index="2"]{
    z-index: 0;
}
.matches .card{
    transform:scale(1.4);
}


.shout-effect{
    position: absolute;
    top: 0px;
    height: 100%;
    width: 100%;
    text-align: center;
}

.shout-effect-text{
    text-shadow: -1px 2px black;
    text-shadow: -1px 9px black;
    color: #fff;
    position: absolute;
    top: 42%;
    width: 100%;
    font-size: 3.5rem;
    text-align: center;
}
.shout-effect-background{
    position: absolute;
    top: 31%;
    height: 30%;
    width: 100%;
    text-align: center;
    background: linear-gradient(120deg, #44b5ff, #03a9f4);
}


.shout-graphic{

}

.shout-graphic[data-name="blue-shout-graphic"]{
    width: 171px;
    position: absolute;
    margin: auto;
    left: 0px;
    right: 0px;
    overflow: visible;
}

.shout-graphic[data-name="blue-shout-graphic"] img{
    position: relative;
    height: 100%;
    width: 100%;
}

.shout-graphic[data-name="blue-shout-graphic"] .blue-shout-graphic.top{
    background: url(/images/blue-shout.png);
    height: 27px;
    width: 100%;
    background-size: 130%;
    background-position: 47% 0%;
    position: absolute;
    top: 0px;
}

.shout-graphic[data-name="blue-shout-graphic"] .blue-shout-graphic.bottom{
    background: url(/images/blue-shout.png);
    height: 37px;
    width: 100%;
    background-size: 122%;
    background-position: 45% 98%;
    position: absolute;
    top: 60px;
}


.shout-graphic[data-name="blue-shout-graphic"] .blue-shout-graphic.glow{
    background: url(/images/blue-shout-glow.png);
    height: 68px;
    width: 160%;
    background-size: 300px;
    background-position: 0% 0%;
    background-repeat-x: no-repeat;
    margin: auto;
    position: absolute;
    left: -57px;
    top: 15px;
}



.shout-graphic[data-name="blue-shout-graphic"] .blue-shout-graphic.text{
    background: url(/images/text/new_row.png);
    height: 18px;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    position: absolute;
    left: 0px;
    top: 38px;
    right: 0px;
    margin: auto;
}