<section class="game-screen hidden" id="game" data-section="game">

<div class="game-background"></div>
    <div class="deck-holder">

    </div>
<div class="d-flex flex-column flex-justify-start flex-items-center game-screen-container">
    <div class="game-top-bar"></div>
    <div class="frame flex-items-end">
        <div class="player-gui">
            <div class="player-gui-picture"></div>
            <div class="player-gui-details">
                <div class="player-gui-name">Player 2</div>
                <div class="player-gui-boost-container">
                    <div class="player-gui-boost-bg">
                        <div class="player-gui-boost-bar"></div>
                    </div>
                    <div class="player-gui-boost-x">x 1</div>
                </div>
            </div>
        </div>
        <div class="game-limiter">
            
        </div>
    </div>
    <div class="board-container">
        <div class="board">
            <div class="box" data-box-index="0"></div>
            <div class="box" data-box-index="1"></div>
            <div class="box" data-box-index="2"></div>
            <div class="box" data-box-index="3"></div>
            <div class="box" data-box-index="4"></div>
            <div class="box" data-box-index="5"></div>
            <div class="box" data-box-index="6"></div>
            <div class="box" data-box-index="7"></div>
            <div class="box" data-box-index="8"></div>
            <div class="box" data-box-index="9"></div>
            <div class="box" data-box-index="10"></div>
            <div class="box" data-box-index="11"></div>
            
          </div>
    </div>
    <div class="frame flex-items-center ">
       
    </div>
    <div class="player-gui" data-player-index="0">
        <div class="player-gui-picture"></div>
        <div class="player-gui-details">
            <div class="player-gui-name">You</div>
            <div class="player-gui-boost-container">
                <div class="player-gui-boost-bg">
                    <div class="player-gui-boost-bar"></div>
                </div>
                <div class="player-gui-boost-x">x 1</div>
            </div>
        </div>
    </div>
    <div class="player-sidebar">
     
    </div>
    <div class="time-box">
        <div class="time">2:00</div>
    </div>
</div>

<div class="game-effects">
    <div class="game-effects-inner">
        
    </div>
</div>

    <div class="shout-effect hidden">
        <div class="shout-effect-background"></div>
        <div class="shout-effect-text">Start!</div>
    </div>

    <div class="shout hidden">
        <div class="shout-backgrounds">
            <div class="shout-backgrounds-inner">
                 <div class="shout-background-matches">
                    <img class="beams" src="/images/beams.png"/>

                 </div>
             </div>
        </div>
        <div class="shout-inner">
            <div class="matches-container hidden">
                <div class="shout-text">
                  Match!
                </div>
                <div class="matches">
                    <div class="matches-box" data-index="0"></div>
                    <div class="matches-box"  data-index="1"></div>
                    <div class="matches-box"  data-index="2"></div>
                </div>
            </div>
        </div>
    </div>
</section>