<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <div id="App">

    <section class="" data-section="splash">
      <div class="section-container">
        <%- include ("../partials/splash.ejs") %>
      </div>
    </section>
    
    <section class="" id="home" data-section="home">
        <div class="section-container">
          <%- include ("../partials/home.ejs") %>
        </div>
    </section>
    
    <section class="" id="game-loading-screen" data-section="game-loading-screen">
      <div class="section-container">
       Loading game
      </div>
  </section>


  </div>
</body>
<script>
  setInitialPagePositions();
</script>
</html>
