<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>cool-ascii-faces

  <%- include ("../partials/nav.ejs") %>
<section class="" name="home">
Home
  <button value="practice" onClick="navigate(this);">Practice</button>
</section>
<section class="" name="practice">
  Practice
    <button value="home" onClick="navigate(this);">Home</button>
  </section>
</body>
</html>
